.success-notification {
    color: green;
    border: 2px solid green;
    padding: 10px 5px;
    margin: 10px 0px;
}

.error-notification {
    color: red;
    border: 2px solid red;
    padding: 10px 5px;
    margin: 10px 0px;
}